 body {
   margin: 0;
   width: 100%;
   height: 100%;
   background: url('https://static.tildacdn.com/tild3161-3536-4632-b439-636563353465/Infinity_new_white_c.jpg') no-repeat fixed;
   background-size: cover;
 }

 .view {
   display: flex;
   justify-content: center;
 }

 .petShop {
   width: 100%;
   margin: 0 auto;
   background: url('https://cdn2.arhivurokov.ru/multiurok/html/2017/11/27/s_5a1bfd3d55d53/756841_1.png') no-repeat bottom right fixed;
   background-size: 200px;
 }

 .petShopLogo {
   margin-top: 29px;
   font-weight: bold;
   background: url('http://static1.squarespace.com/static/572e05c45559862dca6424ff/t/5742705e3c44d80a9c374611/1526947088518/?format=1500w') center no-repeat;
   background-size: 240px;
   height: 65px;
 }

 .petShop h4 {
   text-align: center;
   padding: 5px;
   font-weight: 450;
 }

 .nav_cart {
   position: absolute;
   top: 45px;
   right: 122px;
 }

 .allcats, .expensive, .fluffy {
   width: 20%;
   min-height: 450px;
   padding: 5px;
   border-radius: 5px;
   margin: 29px;
   box-shadow: 1px 1px 10px .1px black;
   background-color: rgba(255, 255, 255, 0.2);
 }

 .cardHead {
   position: absolute;
   top: 24px;
   right: 150px;
   display: flex;
   align-items: center;
   cursor: pointer;
 }

 input {
   float: right;
   font-size: 14px;
   padding: 0 5px;
   border-radius: 4px;
   background-color: #C2D1F8;
 }

 ul {
   padding: 5px;
 }

 li {
   padding: 9px;
   list-style-type: none;
   font-size: 15px;
   font-weight: 500;
   margin: 5px;
   box-shadow: 1px 1px 10px 0.1px #d0bdbd;
   background-color: rgba(255, 255, 255, 0.2);
 }

 button {
   float: right;
   height: 23px;
   width: 56px;
   font-size: 14px;
   padding: 0 5px;
   border-radius: 4px;
 }

 #addToShop:hover {
   cursor: pointer;
   background-color: #81c7da;
 }

 button:hover {
   cursor: pointer;
   background-color: #81c7da;
 }

 .confirm {
   display: none;
   position: fixed;
   bottom: 50px;
   right: 50px;
   width: 150px;
   height: 150px;
 }

 .confirm img {
   width: 100%;
 }

 .badge {
   position: absolute;
   top: 4px;
   right: -10px;
   min-width: 21px;
   height: 13px;
   padding: 0px 3px;
   text-align: center;
   background: #aedeeb;
   border-radius: 8px;
   font-size: 13px;
   line-height: 11px;
   color: #000;
   font-weight: bold;
 }

 .cart {
   display: none;
   position: fixed;
   top: 0;
   background-color: rgba(0, 0, 0, .3);
   width: 100%;
   height: 100%;
 }

 .cart_body {
   position: absolute;
   top: 25%;
   left: 29%;
   width: 42%;
   min-height: 200px;
   max-height: 640px;
   background-color: #fff;
   padding: 25px;
   overflow: hidden;
   box-shadow: 1px 1px 10px 0.1px #d0bdbd;
 }

 .cart_title {
   font-size: 28px;
   font-weight: Bold;
   margin-bottom: 15px;
   color: rgba(0, 0, 0, .4);
 }

 .cart_wrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   margin-top: 5px;
 }

 .cart_wrapper div {
   width: 30%;
   padding: 5px;
   list-style-type: none;
   font-size: 14px;
   font-weight: 500;
   margin: 8px;
   box-shadow: 1px 1px 10px 0.1px #d0bdbd;
 }

 .cart_wrapper input {
   border-radius: 5px;
   margin-left: 8px;
   border: 0;
   font-weight: bold;
   background-color: #fff;
   cursor: pointer;
 }

 .empty {
   font-size: 24px;
   color: rgba(0, 0, 0, .4);
 }

 .cart_close {
   position: absolute;
   top: 25px;
   right: 25px;
   cursor: pointer;
 }

 .cart_total {
   font-size: 22px;
   font-weight: 500;
 }

 .add_animal {
   position: absolute;
   font-size: 24px;
   font-weight: 450;
   top: 74px;
   left: 18%;
   cursor: pointer;
 }

 .nav_cart:hover {
   color: #81c7da;
 }

 .add_animal:hover {
   color: #81c7da;
   ;
 }

 form {
   display: none;
   position: absolute;
   top: 14%;
   left: 28%;
   width: 210px;
   background-color: #fff;
   padding: 14px;
   overflow: hidden;
   box-shadow: 1px 1px 10px 0.1px #d0bdbd;
 }

 .form-check {
   position: relative;
   display: block;
   padding-left: 2px;
   padding-top: -3px;
 }

 .checkbox {
   margin-top: 10px;
 }

 .form-check-label {
   margin-bottom: 0px;
   margin-top: 24px;
 }

 .form-group {
   margin-bottom: 16px;
   width: 100%;
   height: 37px;
 }

 input[type=checkbox] {
   box-sizing: border-box;
   padding: 0px;
   margin-top: 15px;
   margin-right: 112px;
   margin-bottom: 10px;
 }

 .form-close {
   position: absolute;
   top: 6px;
   right: 11px;
   cursor: pointer;
   font-weight: bold;
 }

 label {
   display: inline-block;
   margin-bottom: 3px;
   margin-top: 8px;
 }

 .form_header {
   font-size: 15px;
   font-weight: 500;
   margin-top: 19px;
   margin-bottom: 13px;
 }

 .form-group span {
   color: red;
 }

 select {
   width: 180px;
   height: 40px;
   font-size: 16px;
   border-radius: 4px;
   color: #495057;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid #ced4da;
   border-radius: .25rem;
   transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
 }

 .form-control {
   width: 180px;
 }

 .btn {
   width: 70px;
   height: 24px;
   text-align: center;
   padding: 0;
   border-radius: 3px;
 }

 .btn:hover {
   background-color: #81c7da;
 }

 form .btn {
   width: 102px;
   height: 28px;
   text-align: center;
   padding: 0;
   border-radius: 5px;
 }